* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#triangle {
  margin: 3rem;
  background-color: aquamarine;
  width: 80vw;
  height: 80vh;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
