.card {
  perspective: 150rem;
  position: relative;
  height: 50rem;

  &__side {
    height: 50rem;
    transition: all .8s ease;
    color: $color-text-white;
    box-shadow: 0 1.2rem 4rem rgba($color-black, 0.15);
    width: 100%;
    border-radius: $corner-radius;
    position: absolute;
    top: 0;
    backface-visibility: hidden;
    overflow: hidden;

    &--front {
      background-color: $color-white;
      color: $color-text-gray;
    }

    &--back {
      background-color: $color-primary-dark;
      transform: rotateY(180deg);

      &-1 {
        background: linear-gradient(to bottom right, $color-secondary-light, $color-secondary-dark);
      }

      &-2 {
        background: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark);
      }

      &-3 {
        background: linear-gradient(to bottom right, $color-tertiary-light, $color-tertiary-dark);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // FRONT SIDE
  &__picture {
    background-size: cover;
    background-blend-mode: screen;
    height: 23rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(to bottom right, $color-secondary-light, $color-secondary-dark),
        url(../img/nat-5.jpg);
    }

    &--2 {
      background-image: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark),
        url(../img/nat-6.jpg);
    }

    &--3 {
      background-image: linear-gradient(to bottom right, $color-tertiary-light, $color-tertiary-dark),
        url(../img/nat-7.jpg);
    }
  }

  &__heading {
    text-transform: uppercase;
    opacity: 0.8;
    font-size: 3.1rem;
    font-weight: 300;
    text-align: right;
    width: 65%;
    position: absolute;
    right: 4rem;
    top: 11rem;
    color: $color-white;

    &-span {
      padding: 1rem 1.5rem;
      box-decoration-break: clone;

      &--1 {
        background-image: linear-gradient(to bottom right, $color-secondary-light, $color-secondary-dark);
      }

      &--2 {
        background-image: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark);
      }

      &--3 {
        background-image: linear-gradient(to bottom right, $color-tertiary-light, $color-tertiary-dark);
      }
    }
  }

  &__details {
    padding: 2rem;
    font-size: 1.5rem;

    ul {
      font-family: $font-secondary;
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid lighten($color-text-gray, 35%);
        }
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // BACK SIDE
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__price {
    &-only {
      font-size: 1.5rem;
      color: $color-text-white;
      text-transform: uppercase;
      padding-bottom: 2rem;
    }

    &-amount {
      font-family: $font-secondary;
      color: $color-text-white;
      font-size: 6rem;
      font-weight: 300;
      padding-bottom: 3rem;
    }
  }
}

/* FOR MEDIA QUERY */
.card {

  @include respond(tab-port) {
    height: auto;
    position: relative;
    border-radius: $corner-radius;
    overflow: hidden;

    box-shadow: 0 1.2rem 4rem rgba($color-black, 0.15);

    &__side {
      height: auto;
      position: relative;
      border-radius: 0;
      box-shadow: none;

      &--front {
        padding-bottom: 3rem;
      }

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        margin-top: -4rem;
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &:hover &__side--back {
      transform: rotateY(0);
    }

    // BACK SIDE
    text-align: center;

    &__cta {
      position: relative;
      top: 0%;
      left: 0%;
      transform: translate(0, 0);
      padding: 4rem;
    }

    &__price {
      &-only {
        padding-bottom: 1rem;
        font-weight: 700;
      }

      &-amount {
        line-height: 1;
        padding-bottom: 2rem;
      }
    }
  }
}
