.form {
  &__group {
    padding-bottom: 1rem;
    font-family: $font-secondary;
    font-size: $default-font-size;
  }

  &__input {
    padding: 1.5rem 2rem;
    font-family: inherit;
    background-color: rgba($color-white, .7);
    border: none;
    outline: none;
    transition: all .4s;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    border-radius: $corner-radius;

    &::placeholder {
      color: lighten($color-text-gray, 10%);
    }

    &:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &:valid {
      border-bottom: 3px solid $color-tertiary-light;
    }

    &:focus {
      box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    }
  }

  &__label {
    font-size: 1.3rem;
    padding: .7rem 2rem;
    display: block;

    overflow: hidden;
    transform: translateY(-3rem);
    transition: all .2s;
  }

  &__input:placeholder-shown+&__label {
    transform: translateY(-3rem);
    opacity: 0;
    visibility: hidden;
  }

  &__input:not(:placeholder-shown)+&__label {
    transform: translateY(0rem);
    opacity: 1;
    visibility: visible;
  }

  &__radio-group {
    width: 49.5%;
    display: inline-block;
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    position: relative;
    padding-left: 3rem;
    cursor: pointer;
  }

  &__radio-button {
    height: 2rem;
    width: 2rem;
    border: .3rem solid $color-primary-main;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0rem;
    cursor: pointer;

    &::after {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      background-color: $color-primary-main;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all .2s;
    }
  }

  &__radio-label:hover .form__radio-button {
    border: .4rem solid $color-primary-dark;

    &::after {
      background-color: $color-primary-dark;
    }
  }

  &__radio-input:checked~&__radio-label &__radio-button::after {
    opacity: 1;
  }
}
