// ============ LOGO ===========
.logo {
  height: 3.5rem;
  padding: 2rem;
}


// ============== SEARCH =============
.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @media only screen and (max-width: $bp-smaller) {
    order: 1;
    flex: 0 0 100%;
    padding: 1.5rem 0;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    border: none;
    border-radius: 2rem;

    background-color: var(--color-grey-light-2);
    padding: .7rem 2rem;
    width: 80%;

    @media only screen and (max-width: $bp-smaller) {
      width: 85%;
    }

    margin-right: -3rem;
    transition: all .3s;

    &::placeholder {
      font-family: 'Manrope';
      color: var(--color-grey-light-4);
    }

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);

      @media only screen and (max-width: $bp-smaller) {
        width: 90%;
      }
    }
  }

  &__suggestions {
    border-radius: 1.2rem;
    opacity: 0;
    height: 0;
    transition: all .3s;

    color: var(--color-grey-dark-3);
  }

  &__input:focus~&__suggestions {
    width: auto;
    position: absolute;
    display: block;
    top: 120%;
    opacity: 1;
    height: auto;
  }

  &__btn {
    border: none;
    background-color: transparent;
    border-radius: 50%;


    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

// =========== NAV ==============

.user-nav {
  display: flex;
  align-self: stretch;
  align-items: stretch;

  &>* {
    padding: 0rem 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      background-color: var(--color-grey-light-3);
    }
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.3rem;
    width: 2.3rem;
    fill: var(--color-grey-dark-2);
  }

  &__icon-box:hover>&__icon {
    fill: var(--color-primary-main);
  }

  &__notif-badge {
    position: absolute;
    top: 20%;
    right: 20%;

    font-size: 1rem;

    background-color: var(--color-primary-main);
    color: var(--color-grey-light-1);

    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
  }

  &__user {
    position: relative;

    .user-options {
      border-radius: .5rem;

      opacity: 0;
      max-height: 0;
      transition: all .3s;
    }

    &:hover .user-options {
      width: auto;
      position: absolute;
      display: block;
      top: 100%;
      opacity: 1;
      max-height: 45rem;
    }
  }

  &__user-photo {
    height: 3.8rem;
    border-radius: 50%;
  }

  &__user-name {
    margin-left: 1.5rem;
  }
}

//DROPDOWN
.menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  overflow: hidden;

  z-index: 50;
}

.dropdown {
  list-style: none;

  &-item {
    background-color: var(--color-grey-light-1);
    color: inherit;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;

    &__icon {
      height: 1.7rem;
      width: 1.7rem;
      fill: currentColor;
    }

    &__text {
      margin-left: 1rem;
    }

    &:hover {
      background-color: var(--color-grey-light-3);
    }
  }
}


// ========== SIDE BAR =========

.sidebar {

  color: var(--color-grey-light-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: row;

    .legal {
      display: none;
    }
  }

  &__items {
    padding: 4rem 0;
    list-style: none;

    @media only screen and (max-width: $bp-medium) {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: stretch;
      padding: 0;
    }
  }

  &__item {
    padding: 1.5rem 3rem;
    margin-top: .4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    position: relative;

    @media only screen and (max-width: $bp-medium) {
      margin: 0;
      flex: 1;
      flex-direction: column;
      justify-content: center;
    }

    @media only screen and (max-width: $bp-small) {
      padding: 1.2rem 1.6rem;
    }

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      transform: scaleY(0);
      background-color: var(--color-primary-main);
      transition: transform .3s cubic-bezier(1, 0, 0, 1), .4s width .3s cubic-bezier(1, 0, 0, 1), background-color .1s;
    }

    &:active::before {
      background-color: var(--color-primary-light);
    }

    &--active::before,
    &:hover::before {
      transform: scaleY(1);
      width: 100%;
    }

    &-icon {
      fill: currentColor;
      height: 1.8rem;
      width: 1.8rem;
      z-index: 3;
    }

    &-text {
      margin-left: 1.5rem;
      text-decoration: none;
      text-transform: uppercase;
      text-align: left;
      z-index: 3;
      text-align: center;

      @media only screen and (max-width: $bp-medium) {
        margin: 0;
        margin-top: 3px;
      }
    }
  }

  .legal {
    padding: 2rem;
    text-align: center;
  }
}


// ======= GALLERY =======

.gallery {
  display: flex;
  justify-content: stretch;

  &__item {
    margin-bottom: -.5rem;
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }
}


// ==== OVERVIEW =====

.overview {
  display: flex;
  align-items: center;
  background-color: var(--color-grey-light-1);

  border-bottom: 1px solid var(--color-grey-light-3);

  &__heading {
    font-size: 2.6rem;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
      padding: 1rem 2rem;
    }

  }

  &__stars {
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  &__location {
    display: flex;
    align-items: center;

    &-text {
      @media only screen and (max-width: $bp-small) {
        font-size: 1.2rem;
      }
    }
  }

  &__stars-icon,
  &__location-icon {
    height: 1.7rem;
    width: 1.7rem;
    fill: var(--color-primary-main);

    @media only screen and (max-width: $bp-small) {
      height: 1.3rem;
      width: 1.3rem;
    }
  }

  &__rating {
    background-color: var(--color-primary-main);
    color: var(--color-grey-light-1);
    align-self: stretch;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-average {
      font-size: 2.5rem;

      @media only screen and (max-width: $bp-small) {
        font-size: 1.8rem;
      }
    }

    &-count {
      text-transform: uppercase;
      font-weight: 700;
      font-size: .8rem;

      @media only screen and (max-width: $bp-small) {
        font-size: .5rem;
      }
    }
  }
}

.infinite-zoom-btn {
  margin: 1rem;

  &,
  &:link,
  &:visited,
  &:active {
    color: var(--color-primary-main);
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
    padding-bottom: .3rem;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid currentColor;
    cursor: pointer;

    &>span {
      margin-left: 3px;
      transition: margin-left .2s;
    }

    &:hover {
      color: var(--color-grey-dark-3);

      &>span {
        margin-left: 1rem;
      }
    }

    &:focus {
      outline: none;
      animation: 1s pulsate infinite;
    }
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(#000, 0.25);
  }

  100% {

    transform: scale(1);
    box-shadow: none;
  }
}

// ++++++++++ FEATURES +++++++++

.paragraph {
  line-height: 1.2rem;

  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
}

.paragraph:not(:last-of-type) {
  margin-bottom: 3rem;

  @media only screen and (max-width: $bp-medium) {
    margin-bottom: 1rem;
  }
}

.features {
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);

  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;

  @media only screen and (max-width: $bp-medium) {
    margin: 1rem 0;
    padding: 1rem 0;
  }

  &__item {
    flex: 0 0 50%;
    margin-bottom: 1rem;
    list-style: none;

    &::before {
      content: "";
      display: inline-block;
      height: 1.3rem;
      width: 1.3rem;
      margin-right: 1rem;


      background-image: url(../img/SVG/chevron-right.svg);
      background-size: cover;

      @supports (mask-image: url(../img/SVG/chevron-right.svg)) or (--webkit-mask-image: url(../img/SVG/chevron-right.svg)) {
        background-color: var(--color-primary-main);
        mask-image: url(../img/SVG/chevron-right.svg);
        mask-size: cover;
        background-image: none;
      }
    }
  }
}

// rec.

.recommend {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__msg {
    font-size: 1.3rem;
  }

  &__img:not(:last-child) {
    margin-right: -1.3rem;
  }

  &__img {
    box-sizing: content-box;
    height: 3rem;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
    border: 2px solid var(--color-grey-light-2);
    box-shadow: var(--shadow-light);
  }
}

// reviews

.review {
  background-color: var(--color-grey-light-1);
  box-shadow: 0 2rem 4rem rgba(#000, 0.1);
  color: var(--color-grey-dark-2);
  padding: 3rem;
  font-size: 1.4rem;
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: $bp-medium) {
    margin: 1rem;
  }

  &:not(:last-child) {
    margin-bottom: 4rem;

    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 1.2rem;
    }
  }

  &__text {
    z-index: 1;
    margin-bottom: 3rem;

    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 1rem;
    }
  }

  &__details {
    margin-right: auto;
  }

  &__user {
    display: flex;
    align-items: center;

    &-img {
      height: 4.3rem;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
      margin-right: 1.2rem;
    }

    &-name {
      text-transform: uppercase;
    }

    &-date {
      font-size: 1.1rem;
      font-weight: 600;
    }
  }

  &__rating {
    font-size: 2.8rem;
    color: var(--color-primary-main);
    font-weight: 400;
  }

  &::before {
    content: "\201C";
    z-index: 0;
    color: rgba(#000, .05);
    font-size: 35rem;
    line-height: 1;

    position: absolute;
    top: -5.5rem;
    left: -2.9rem;
  }
}

.cta {
  padding: 3rem;
  text-align: center;
  text-transform: uppercase;

  @media only screen and (max-width: $bp-small) {
    padding: 1.5rem;
  }

  &__text {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
      margin-bottom: 1.8rem;
    }
  }

  &__btn {
    border: 0;
    font-size: 1.6rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    color: #fff;
    border-radius: 10rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.3rem;
    }

    &>* {
      display: inline-block;
      transition: .3s all;
    }

    .btn-visible {
      padding: 2rem 6.5rem;

      @media only screen and (max-width: $bp-small) {
        padding: 1.3rem 5.4rem;
      }
    }

    .btn-invisible {
      height: 100%;
      width: 100%;

      position: absolute;
      top: -100%;
      left: 0;
    }

    &:hover .btn-visible {
      transform: translateY(100%);
    }

    &:hover .btn-invisible {
      top: 30%;
    }

    &:hover {
      background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    }

    &:focus {
      animation: 1s pulsate infinite;
      outline: none;
    }
  }
}
