body {
  font-family: 'Raleway', sans-serif;
  padding: 3rem;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-text-gray;
}

.heading-primary {
  color: $color-text-white;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 3rem;

  backface-visibility: hidden;


  &--main {
    display: block;
    font-weight: 400;
    font-size: 5rem;
    letter-spacing: 2.5rem;
    margin-right: -2.5rem;

    animation-name: moveInLeft;
    animation-duration: .8s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1.34rem;
    margin-right: -1.34rem;

    animation: moveInRight ease-out .8s;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;


  background: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  transition: all .2s;

  &:hover {
    transform: scale(1.1) skew(5deg, -5deg);
    text-shadow: .2rem .2rem 1rem $color-shadow-dark;
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 600;
  text-transform: uppercase;
}

.description {
  font-size: 1.5rem;
  font-weight: 500;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
