.footer {
  background-color: $color-gray-7;
  padding: 10rem 0;

  @include respond(tab-port) {
    padding: 5rem 0;
  }

  &__logo-box {
    height: auto;
  }

  &__logo {
    display: inline-block;
    height: 100%;
  }

  &__navigation {
    border-top: 1px solid $color-gray-3;
    padding-top: 2rem;
    display: inline-block;

    @include respond(tab-port) {
      display: block;
      text-align: center;
      padding-top: 0;
      margin-bottom: -4rem; // lets remove some shit (margin from col)
    }

    &-list {
      list-style: none;
    }

    &-item {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      @include respond(tab-port) {
        margin-right: 0;
      }
    }
  }

  &__link {

    &:link,
    &:visited {
      text-decoration: none;
      color: $color-gray-1;
      text-transform: uppercase;
      display: inline-block;

      transition: all .2s;
    }

    &:hover {
      transform: rotate(5deg) scale(1.1);
      background-color: $color-gray-7;
      box-shadow: 0 1rem 2rem rgba($color-black, .4);
      color: $color-primary-main;
    }
  }

  &__copyright {
    border-top: 1px solid $color-gray-3;
    padding-top: 2rem;
    color: $color-gray-2;
    width: 88%;
    float: right;

    @include respond(tab-port) {
      width: 100%;
      float: none;
      padding-top: 0;
    }
  }
}
